.venv
.venv*

# Packaging artifacts
*.egg-info/
*.dist-info/
build/
dist/

# Runtime Config
config.yml

# Runtime artifacts
__pycache__
*.pyc
latest_silero_models.yml

# Model files
nexusvoice/models/distilbert-nexus*

.DS_Store
pyrightconfig.json
response.mp3

model.js
schema.json
test_cleaned_fd.wav
test_aligned_mic_vs_playback.wav
test_mic_aligned.wav
test_playback_aligned.wav
recordings/*.mp3
recordings/*.wav
test_cleaned_lms.wav
samples/delay*.wav

# Ignore build intermediaries
build
