.venv
.venv*

# Packaging artifacts
*.egg-info/
*.dist-info/
build/
dist/

# Runtime Config
config.yml

# Runtime artifacts
*.pyc
latest_silero_models.yml

.DS_Store
response.mp3

model.js
schema.json
test_cleaned_fd.wav
test_aligned_mic_vs_playback.wav
test_mic_aligned.wav
test_playback_aligned.wav
recordings/recording-*.mp3
test_cleaned_lms.wav
samples/delay*.wav
